@model OnlineBanking.Models.BankAccount

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BankAccount</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IBAN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IBAN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Holder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Holder)
        </dd>

        <div class ="bg-light">
            @foreach(Transaction trans in Model.transactions){
                var color = trans.amount > 0 ? "green" : "red";
                    <p style="color: @color"> @trans.date &lt;@trans.from.IBAN - @trans.ToWhom &gt; [@trans.amount]: "@trans.Memo" </p>
            }
        </div>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="MakeTransaction">Make Transaction</a> |
    <a asp-action="MakeDeposit" asp-route-id="@Model?.ID">Deposit</a> |
    <a asp-action="Index">Back to List</a>
    <a asp-action="Index">Logout</a>
</div>
